a:hover{
    font-family:'Rowdies' cursive;
    color: #fff;

}
ul{
    list-style: none;
}

li{
    display: inline-block;
    color: rgb(78, 8, 242);
    font-size: 25px;
    font-family:Arial, Helvetica, sans-serif;
}

.header{
    width: 100%;
    background-color: #4f0505;

}
.nav-bar{
    width: 90%;
    margin: auto;
    color:white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 90px;


}
.header .nav-bar .logo{
    margin-left: 50px;
}
.header .nav-bar .logo a{
    font-size: 35px;
    font-weight: 500;
    text-transform: uppercase;
}
.header .nav-bar .menu ul li{
    margin: 30px;
}
.header .nav-bar .menu ul li a{
    font-size: 12px;
    letter-spacing: 2px;
    padding: 10px;
    text-transform: uppercase;
    transition: all 2s;
     opacity: .4;}

.header .nav-bar .menu li a:hover{
    opacity: 2;
  transition: .6s;
}
.header .nav-bar .social-media li i{
    width:45px;
    height: 45px;
    line-height: 45px;
    margin-right: 5px;
    border-radius: 50px;
    text-align: center;
    align-items: center;
    font-size: 19px;
    background-color: #cac5c542;
    transition: all 0.5s ease-in-out;
}
.header .nav-bar .social-media li i:hover{
    background-color: rgb(110, 69, 69);}
.hero{
    width: 100%
}
.row .hero{
    width:50%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 10px;
    margin: 4px
}
.hero .row .left-sec{
    width: 30%;
    margin-top: 10px;
}
.hero .row .left-sec h2{
    font-size: 60px;
    color: rgb(235, 20, 20);
}

.hero .row .left-sec p{
    margin:5px;
    color: #fff;
    line-height: 30px;
    padding-right: 50px;
}
body{
    background-color: #4f0505;
}
span{
    color: #fff;
}
h2{
    color: white;
}
p{
    color: #fff;
}

